{% asset "wro-bigquery_assets/wro_bigquery-js" %}
{# this should be inhanced and called elsewhere #}
<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.css">
<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.js"></script>
<script>

</script>
{% set package_name = h.get_package_name(resource.package_id) %}
{% set data = h.get_data(bigquery_dataset = package_name, bigquery_table = resource.resource_name) %}

{% set heads = data[0].keys() %}
{% block bodytag %}
  <div data-module="bigquery_dataset_view" id="resize_wrapper">
      <table
        id="bigquery_dataset_preview_table" width="100%"
        class="table table-striped table-bordered table-condensed table-hover"      
        >
        <thead>
            <tr>
                {% for head in heads %}
                    <th> {{ head }} </th>
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for item in data %}
                <tr>
                    {% for val in item.values() %}
                        <td>{{ val }}</td>
                    {% endfor %}
                </tr>
            {% endfor %}    
        </tbody>
      </table>
  </div>
{%- endblock -%}