.google_cloud_note_modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top:0px; 
    left:0px; 
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:2;
    display: none;
}
.google_cloud_note_container{
    width: 60%;
    height:80%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.google_cloud_image_container{
    flex-basis: 40%;
    display: flex;
    justify-content: center;
}

.google_cloud_image{
    width:70%;
    height:100%;
}

.google_cloud_note{
    flex-basis: 60%;
    color:white;
}

.google_cloud_upload_note_modal_btn{
    padding: 12px 65px;
    background-color: white;
    color: black;
    border: none;
    font-family: Helvetica, sans-serif;
}