include README.rst
include LICENSE
include requirements.txt
recursive-include ckanext/wro_bigquery *.html *.json *.js *.less *.css *.mo *.yml
recursive-include ckanext/wro_bigquery/migration *.ini *.py *.mako
